.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  background-color: #fafafa;

  .right-container {
    display: flex;
    align-items: center;

    .lang-title {
      margin: 0 4px;
    }

    .switch-container {
      display: flex;
      margin-left: 12px;

      .ant-switch, .ant-switch-checked {
        background-color: #1890ff!important;
      }
    }
  }

  .left-container {
    display: flex;
    align-items: center;
    
    .title {      
      color: black;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: .3px;
      margin-left: 12px;
      margin-bottom: 6px;
    }
  }

  img {
    height: 40px;
  }
}
